<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd">


<!--
        <context:property-placeholder location="classpath:dubbo-consumer.properties" ignore-unresolvable="true"/>
-->

        <!-- 消费者应用名称 -->
        <dubbo:application name="${dubbo.application}"/>
        <!-- 注册中心 -->
        <dubbo:registry address="${dubbo.registry}"/>

        <!-- 订单服务 -->
        <dubbo:reference id="orderFacade" check="false" interface="com.winy.dubbo.facade.OrderFacade"/>

</beans>