<html>


<script src="/static/js/jquery.min.js" type="text/javascript"></script>

<body>



<table border="1">
    #foreach($ret in ${responseVO.result})
        <tr>
            <td>$!{ret.id}</td>
            <td>${ret.orderNo}</td>
            <td>$!dateTool.format('yyyy-MM-dd hh mm ss',${ret.createTime})</td>
            <td>

            #if(${ret.status} == 0)
                待支付
            #elseif(${ret.status} == 1)
                已支付
            #elseif(${ret.status} == 2)
                已失效
            #end
            </td>
            <td>

                #if(${ret.status} == 0)
                    <input type="button" value="支付" onclick="doPay($!{ret.id})"/>
                #end

            </td>

        </tr>
    #end

</table>


</body>




<script type="text/javascript">

    /*$(function(){
        alert("JQuery已引用成功！");
    });

*/

    // 支付
    function doPay(id) {

        alert(id);

        $.ajax({
            url: "/order/doPay",
            data:{"id":id},
            dataType:"json",
            contentType:"application/json",
            success: function(data){

                if (data.code== 0) {

                    alert("支付成功");
                } else {
                    alert("支付失败");
                }
            }
        })

    }

</script>


</html>
